<footer class="bg-light position-fixed bottom-0 w-100 py-2 mt-4 border-top">
    <div class="container">
        <div class="row align-items-center">
            <p class="col-md-5 mb-0 text-muted">{{footerData['footer-menu'].copyright}}</p>
            <div class="col-md-2">
                <a routerLink="/" class="link-dark text-decoration-none" [innerHTML]="footerData['footer-menu'].brand"></a>
            </div>            
            <ul class="nav col-md-5 justify-content-end">
                <li class="nav-item" *ngFor="let m of footerData['footer-menu'].menu"><a class="nav-link px-2 text-muted" routerLink="{{m.link}}">{{m.name}}</a></li>
            </ul>
        </div>
    </div>    
</footer>