<div class="container mt-3">
    <h2>Employees</h2>
    <p>List of all emplyees</p>
    <div class="w-25 ms-auto mb-3">
        <input class="form-control" type="text" [(ngModel)]="searchUser" placeholder="Search...."> 
    </div>
    <table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>D.O.B</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Pincode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usr of userData | searchFilter: searchUser; let i = index">
            <td>{{i + 1}}</td>
            <td>{{usr.name}}</td>
            <td>{{usr.username}}</td>
            <td>{{usr.dob}}</td>
            <td>{{usr.mobile}}</td>
            <td>{{usr.address}}</td>
            <td>{{usr.pincode}}</td>
            <td>
                <button class="btn btn-info btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editUser" (click)="EditUserData(usr)"><fa-icon [icon]="faUserEdit"></fa-icon></button>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(usr.id)"><fa-icon [icon]="faTrash"></fa-icon></button>               
            </td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" [formGroup]="EditUser"  (ngSubmit)="updateUser()">
            <div class="modal-header">
            <h5 class="modal-title" id="editUserLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-4" >    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter your Name" [ngClass]="{'is-invalid': f.name.errors && submitted}" >
                            <label for="floatingName">Name</label>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                                <div *ngIf="f.name.errors.pattern">Enter only Alphabets</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" formControlName="username" placeholder="Enter Email Address" [ngClass]="{'is-invalid': f.username.errors && submitted}">
                            <label for="floatingUsername">Username / Email</label>                    
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                                <div *ngIf="f.username.errors.email">Username must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number" maxlength="10" [ngClass]="{'is-invalid': f.mobile.errors && submitted}">
                            <label for="floatingMobile">Mobile Number</label>                    
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                                <div *ngIf="f.mobile.errors.pattern">Enter only numbers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="dob" placeholder="Enter your Date of Birth" max="{{today}}" [ngClass]="{'is-invalid': f.dob.errors && submitted}">
                            <label for="floatingDob">Date of Birth</label>                    
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">                
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="pincode"  placeholder="Enter your pincode" maxlength="6" [ngClass]="{'is-invalid': f.pincode.errors && submitted}">
                            <label for="floatingPincode">Pincode</label>                    
                            <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                                <div *ngIf="f.pincode.errors.minlength">Pincode must have at least 4 characters.</div>
                                <div *ngIf="f.pincode.errors.maxlength">Pincode must have at most 6 characters.</div>
                                <div *ngIf="f.pincode.errors.pattern">Pincode must have be only numbers.</div>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="address"  placeholder="Enter your address" [ngClass]="{'is-invalid': f.address.errors && submitted}">
                            <label for="floatingAddress">Address</label>                    
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
  </div>
</div>