<p>This is Parent!</p>
<p>From Child Data:  {{p}}</p>
<p>From Child Data:  {{p.name}}</p>
<p>From Child Data:  {{p.mob}}</p>

<app-child parent="Am RAM" [objData]="obj" (info)="receiveData($event)"></app-child>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>D.o.b</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sub of obj">
                        <td>1</td>
                        <td>{{sub.name}}</td>
                        <td>{{sub.dob}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
