<div class="container">
    <div class="row">
      <div class="col-sm-10 mx-auto">
        <div class="card shadow my-5">
            <h5 class="card-header fs-5 p-4">Register</h5>        
            <!-- {{f.password.value}}{{f.cpassword.value}} -->
            <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
                <div class="card-body p-4"> 
                    <div class="row g-4" >    
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="name" placeholder="Enter your Name" [ngClass]="{'is-invalid': f.name.errors && submitted}" >
                                <label for="floatingName">Name</label>
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                    <div *ngIf="f.name.errors.pattern">Enter only Alphabets</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" formControlName="username" placeholder="Enter Email Address" [ngClass]="{'is-invalid': f.username.errors && submitted}">
                                <label for="floatingUsername">Username / Email</label>                    
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                    <div *ngIf="f.username.errors.email">Username must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" [ngClass]="{'is-invalid': f.password.errors && submitted}">
                                <label for="floatingPassword">Password</label>                    
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" formControlName="cpassword"  placeholder="Re-enter Password" [ngClass]="{'is-invalid': f.cpassword.errors && submitted}">
                                <label for="floatingCPassword">Confirm Password</label>                                        
                                <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.cpassword.errors.confirmPasswordValidator">Passsword and Confirm Password didn't match.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number" maxlength="10" [ngClass]="{'is-invalid': f.mobile.errors && submitted}">
                                <label for="floatingMobile">Mobile Number</label>                    
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                                    <div *ngIf="f.mobile.errors.pattern">Enter only numbers</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" formControlName="dob" placeholder="Enter your Date of Birth" max="{{today}}" [ngClass]="{'is-invalid': f.dob.errors && submitted}">
                                <label for="floatingDob">Date of Birth</label>                    
                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                    <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">                
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="pincode"  placeholder="Enter your pincode" maxlength="6" [ngClass]="{'is-invalid': f.pincode.errors && submitted}">
                                <label for="floatingPincode">Pincode</label>                    
                                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                                    <div *ngIf="f.pincode.errors.minlength">Pincode must have at least 4 characters.</div>
                                    <div *ngIf="f.pincode.errors.maxlength">Pincode must have at most 6 characters.</div>
                                    <div *ngIf="f.pincode.errors.pattern">Pincode must have be only numbers.</div>
                                </div>
                            </div>
                        </div>                    
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="address"  placeholder="Enter your address" [ngClass]="{'is-invalid': f.address.errors && submitted}">
                                <label for="floatingAddress">Address</label>                    
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a routerLink="/employees" class="btn btn-outline-primary me-md-auto">List of Employees</a>
                        <a routerLink="/login" class="btn btn-outline-primary me-md-2">Login</a>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </div>          
            </form> 
        </div>
      </div>
    </div>
  </div>